* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

html,body{
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    /* background-color: green; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 12vh;
    padding: 2vw 10.4vw;
    
}

.nav-part2{
    display: flex;
    align-items: flex-start;
    padding: 1vh 0;
    justify-content: center;
    gap: 2vw;
    position: relative;
    z-index: 10;
}
.nav-part2 h4{
    font-size: .8vw;
    font-weight: 600;
    /* margin-bottom: 2vw; */
}
.nav-part2 h5{
    margin-bottom: 1vw;
    display: none;
    /* overflow: hidden; */
}
.nav-part2 h5 span{
    font-size: 0.74vw;
    font-weight: 400;
    display: inline-block;
    /* transform: translateY(25px); */
}
nav button{
    background-color: #0ba34e;   
    display: flex;
    align-items: center;
    padding: 12px 12px;
    border-radius: 50px;
    font-size: 0.85vw;
    font-weight: 700;
    border: none;
    
}
nav button svg{
    height: 0.8vw;
    margin-left: 3vw;
}
#nav-bottom{
    width: 79.5%;
    background-color:#111;
    position: absolute;
    height: 0;
    z-index: 9;
    top: 100%;
    border-bottom: 1px solid #fff;
}



#page1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #111;
}
#page1 h1{
    font-size: 8.5vw;
    font-weight: 600;
    line-height: 8.5vw;
}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0DA34E;
    border-radius: 50%;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}
#specs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5vw;
}
#specs h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    border: 1px solid #a5a5a5;
    border-radius: 50px;
    padding: 5px 12px;
}
#specs h4:nth-last-child(2){
    border: none;
    padding: 2px;
}
#movingdiv{
    margin-top: 10vh;
    /* background-color:; */
    position: absolute;
    bottom: 3%;
    width: 44%;
    white-space: nowrap;
    padding:2vw;
    overflow: hidden;
}
#movingdiv .move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

#movingdiv .move img{
    height: 1vw;
    margin: 0 1.2vw;
}
@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
#blur-left{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to left,transparent,#111);
}
#blur-right{
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background: linear-gradient(to right,transparent, #111);
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}